@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.logoContainer{
    box-sizing: border-box;
    width: 390px;
    height: 257px;
    background: #7C95E0;
    backdrop-filter: blur(2px);
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}

.topContainer{
    box-sizing: border-box;
    width: 390px;
    height: 138px;
    background: #7C95E0;
    backdrop-filter: blur(2px);
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}

body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    height: 100vh;
    overflow: auto;
    /* temporar */
    display: flex;
    flex-direction: column;
}

.body {
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #273350;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
}

.AuthLabel {
    width: 63px;
    height: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    /* identical to box height, or 225% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.AuthContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;

}

.baseInput {
    box-sizing: border-box;
    width: 318px;
    height: 54px;
    left: 49px;
    top: 361px;
    background: #F5F5F5;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    align-items: center;
}

.mainDiv {
    top: 250px;
    width: 100%;
}

.text1 {
    position: relative;
    width: 253px;
    height: 45px;
    left: 76px;
    top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin: 0;

    /* margin-right: 0; */
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    text-decoration: 1px solid #00337C;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.text2 {  
    position: relative;
    width: 108px;
    height: 0px;
    margin: 0;
    left: 141px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.baseButton{
    width: 205px;
    height: 54px;
    position: relative;
    left: 46px;

    margin: 40px;
    background: #7C95E0;
    border-radius: 25px;
    padding-left: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid rgba(0, 51, 124, 0.6);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.clickButton1{
    width: 80%;
    height: 17%;
    position: relative;
    margin: 39%;
    left: -34%;
    background: #EDB2E6;
    border-radius: 25px;
    padding-left: 37px;

    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid solid #9D3C72;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}


.clickButton2{
    width: 80%;
    height: 17%;
    position: relative;
    margin: 75%;
    left: -63%;
    background: #ADA2FF;
    border-radius: 25px;
    padding-left: 37px;

    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid solid #9D3C72;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}


.clickButton3{
    width: 80%;
    height: 17%;
    position: relative;
    margin: 460px;
    left: -410px;
    background: #81E7AA;
    border-radius: 25px;
    padding-left: 37px;

    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid solid #9D3C72;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}


.clickButton4{
    width: 80%;
    height: 17%;
    position: relative;
    margin: 610px;
    left: -560px;
    background: #FEAB80;
    border-radius: 25px;
    padding-left: 37px;

    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid solid rgb(0 0 0 / 25%);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}


.text3 {  
    position: absolute;
    width: 120px;
    height: 45px;
    margin: 0;
    left: 37px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px  rgb(0 0 0 / 25%);
   
}

.text4 {  
    position: absolute;
    width: 136px;
    height: 45px;
    margin: 0;
    left: 37px;
    top: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px  rgb(0 0 0 / 25%);
}

form {
    position: relative;
    margin: 11%;
    top: 30px;
    background-color: #FFFFFF;
    width: 80%;
    height: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
  }
  input {
    all: unset;
    font: 16px system-ui;
    color: #808080;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #808080;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #273350;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  .clickButton5{
    width: 70%;
    height: 16%;
    position: relative;
    left: 9px;
    background: #81E7AA;
    border-radius: 25px;
    padding-left: 37px;

    font-family: 'Inter';
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid solid rgb(0 0 0 / 25%);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.text5 {  
    position: absolute;
    width: 159px;
    height: 45px;
    margin: 0;
    left: 117px;
    top: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
div.scroll {
  background: #273350;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
}