.circle {
    position: fixed;
    background: #E5E0FF;
    height: 200px;
    width: 200px;
    left: 25%;
    border-radius: 100px;
    top: 117px;
    display: flex;
}

.profileBlue {
    position: fixed;
    height: 150px;
    width: 150px;
    margin: 25px;
}

.firstName, .lastName, .email, .birthday {
    position: relative;
    margin-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.firstName>img, .lastName>img, .email>img, .birthday >img{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.bday {
    width: 70% !important;
    height: 54px !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.nameInput , .bday{
    background: #273350 !important;
    background-color: #273350 !important;
    width: 70%;
    padding: 2px;
    border: none;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
}

.baseSelect {
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000000;
    border-radius: 10px;
    width: 80%;
    padding: 10px 0px;
    background-color: #E5E0FF;
}

.logout {
    position: relative;
    left: 84%;
}

.logout>img {
    height: 35px;
}