body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.panel {
    overflow-y: scroll;
}

.instructionContainer {
    padding-left: 10px;
}

.question-container {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
}

.result {
    height: 40px;
    font-size: 35px;
    text-align: center;
}

.option-container {
    justify-content: space-between;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.option {
    aspect-ratio: 1;
    margin: 10px;
    width: 125px;
    height: 125px;
    background-color: #ffffff;
    border-radius: 25%;
}

.option>img {
    position: relative;
    width: 125px;
    z-index: 2;
    left: -10px;
    top: -11px;
}

.evaluate {
    margin-top: 15px !important;
}

.navigation {
    width: 223px;
}